/*Contact HTML's CSS*/
.help {
    min-height: 80vh;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: fit-content;
    grid-template-areas:
        'box-1 box-1'
        'box-2 box-3'
        'box-4 box-5'
        'box-6 box-6'
        'box-6 box-6'
        'box-6 box-6'
        'box-6 box-6';
    gap: 1em;
    margin: 1em 10em;
}

.box {
    background-color: var(--renk-kart-zemin);
    border-radius: 15px;
    border: 2px solid var(--renk-kart-cizgi);
    padding: 1em 0;
    backdrop-filter: var(--kart-blur);
}

.box i{
    color: var(--renk-vurgu-hover);
}


.box1 {
    text-align: center;
    font-size: 1.2rem;
}

.box1 h2 {
    font-weight: 800;
    padding: 0.5em 0;
}

.box1 p {
    padding: 0.2em 2em;
}

.box2 p {
    padding: 0.2em 2em;
}

.box h3 {
    padding: 0.5em 0.5em;
    font-size: 1.2rem;
    font-weight: 800;
}

.box h3 i {
    margin-right: 0.5em;
}

.box6 h2{
    text-align: center;
    padding: 0.2em 0;
    margin-bottom: 0.5em;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 0 3em;
}

.buttons a i {
    margin-right: 0.5em;
    color: var(--renk-vurgu-hover);
}

.buttons a {
    text-decoration: none;
    color: #fff;
}

.buttons a:hover {
    transform: translateX(5px);
    transition: 0.2s ease-in-out;
}


.message {
    margin: 1em;
    color: #fff;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-areas:
        'box-7 box-8'
        'box-9 box-10'
        'box-11 box-11'
        'box-12 box-12'
        'box-13 box-13';
    gap: 2em;
    font-weight: 600;
    margin: 0 5em;
}

.message h1 {
    font-size: 36px;
    text-align: center;
}

.message .input-box {
    width: 100%;
    height: 50px;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 3px solid var(--renk-kart-cizgi);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box span {
    position: absolute;
    left: 10px;
    top: 15px;
}

input:focus~span,
input:valid~span {
    transform: translateX(8px) translateY(-32px);
    background: transparent;
    padding: 0 5px;
    color: var(--renk-vurgu-hover);
    transition: .1s ease-in-out;
}

.input-box input::placeholder {
    color: aqua;
    font-weight: 600;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box button {
    background: whitesmoke;
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.input-box button:hover {
    box-shadow: 0 0 20px rgba(100, 255, 255, .6);
    transition: 0.2s ease-in-out;
    transform: translateY(-2px);
}

/*Selection*/

select {
    color: #fff;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
}

select option {
    color: black;
    background-color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

@media (max-width:800px) {

    .message {
        grid-template-columns: auto-fit;
        grid-template-areas:
        'box-7' 
        'box-8'
        'box-9'
        'box-10'
        'box-11' 
        'box-11'
        'box-12' 
        'box-12'
        'box-13' 
        'box-13';
            margin: 0 2em;
    }
}

@media (max-width:920px) {
    .help {
        grid-template-areas:
            'box-1'
            'box-1'
            'box-2'
            'box-3'
            'box-4'
            'box-5'
            'box-6'
            'box-6'
            'box-6'
            'box-6'
            'box-6'
            'box-6'
            'box-6'
            'box-6';
    }
    .box6 h2{
    text-align: center;
    margin: 0.4em 0;
    font-size: 1rem;
}
}