/*Main Section*/

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10em 0;
}

.main .main.container .tekno-img {
    width: fit-content;
    height: fit-content;
}

.tekno-img img {
    width: 350px;
    height: auto;
    object-fit: cover;
    margin-right: 2em;
}

.tekno-img::before {
    content: '';
    display: block;
    height: 350px;
    width: 345px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    -webkit-animation: pulsate-fwd 1.8s ease-in-out infinite both;
    animation: pulsate-fwd 1.8s ease-in-out infinite both;
}

.main-container .text {
    width: 35%;
    padding: 20px 50px;
    color: var(--renk-metin-ana);
    border: 2px solid var(--renk-kart-cizgi);
    font-size: 1.2rem;
    text-align: center;
    background: var(--renk-kart-zemin);
    backdrop-filter: var(--kart-blur);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    -webkit-animation: tilt-in-right-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-right-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.text p {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: start;
}

.text h1 {
    color: var(--renk-metin-ikincil);
    text-align: center;
}


.text a {
    text-decoration: none;
    color: var(--renk-metin-ana);
    text-align: center;
    border: 2px solid var(--renk-kart-cizgi);
    background-color: transparent;
    border-radius: var(--radius-kart);
    padding: 10px 10px;
    width: auto;
    font-weight: 600;
}

.text a:hover,
.card-content .card-button:hover {
    transition: .4s ease;
    box-shadow: 0 0 50px rgb(100, 255, 235, .2);
    background-color: var(--renk-vurgu);
}

/*Carousel*/

.carousel {
    margin: 8em 0;
}

.swiper {
    width: 90%;
    max-width: 1000px;
    padding: 50px 0;
    text-align: center;
    -webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-timeline: view();
    animation-range: cover 15% cover 50%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    padding-bottom: 2em;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-timeline: view();
    animation-range: cover 10% cover 50vh;
}

.swiper-slide {
    height: 80%;
    background: var(--renk-kart-zemin);
    backdrop-filter: var(--kart-blur);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.4s ease, opacity 0.4s ease;
    text-decoration: none;
}

.swiper-slide:hover {
    scale: 1.01;
    transition: 0.1s ease-in-out;
}

.swiper-slide img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    background-color: whitesmoke;
}

.swiper-slide h3 {
    padding: 15px;
    font-size: 1.1rem;
    color: var(--renk-metin-ana);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 6em;
}

/* Oklar ve noktalar */
.swiper-button-next,
.swiper-button-prev {
    background: var(--renk-kart-zemin);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease;
    background: var(--renk-kart-zemin);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--renk-vurgu);
}


/*Faq Section 1*/

.details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.details .heading {
    text-align: center;
    padding: 2em 0;
    font-size: 2rem;
}

.details .heading h3 {
    color: var(--renk-metin-ana);
}

.details .heading h4 {
    padding-bottom: 1em;
    border-bottom: 2px solid var(--renk-kart-cizgi);
}

.heading h3,
h4 {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
}

.details .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding: 2em 0;
}

.wrap .faq {
    width: 50%;
    -webkit-animation: tilt-in-right-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-right-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
    backdrop-filter: var(--kart-blur);
}

.faq h4 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--Navy200);
}

.wrap .video {
    border: 2px solid var(--renk-kart-cizgi);
    height: auto;
    width: 40%;
    margin: 1em 2em;
    -webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-timeline: view();
    animation-range: entry 15% cover 50vh;
}

.video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.faq-list {
    background-color: var(--renk-kart-zemin);
    border: 1px solid var(--renk-kart-cizgi);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.faq-list p span {
    color: var(--renk-vurgu);
}

.faq-list .ques {
    list-style-position: outside;
    color: var(--renk-metin-ana);
    cursor: pointer;
    padding: 10px 10px;
    font-size: 1.3rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-list .ans p {
    border-top: 1px solid var(--renk-kart-cizgi);
    padding: 0.5em 0;
}

.ans {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faq-list .ques i {
    transition: transform 0.3s ease;
    color: var(--renk-vurgu);
}

.faq-list.active-faq .ans {
    max-height: 300px;
}

.faq-list.active-faq .ques i {
    transform: rotate(45deg);
}

/*Faq section 2*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.hero h2 {
    text-align: center;
    margin-bottom: 1em ;
    padding-bottom: 1em ;
    border-bottom: 2px solid var(--renk-kart-cizgi);
}

.hero .faq {
    width: 60%;
    -webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-timeline: view();
    animation-range: cover 20% cover 50%;
    backdrop-filter: var(--kart-blur);
}


@media (max-width: 1100px) {

    /*Main Section*/
    .main-container {
        flex-direction: column !important;
        margin: 2em 0 !important;
    }

    .main-container .text {
        width: 80%;
        font-size: 1rem;
    }

    .main-container .tekno-img {
        padding: 1em 0;
    }

    .details .wrap {
        flex-direction: column;
        align-items: center;
    }

    .wrap .faq {
        width: 90%;
    }

    .hero .faq {
        width: 80%;
    }

    .wrap .video {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .main-container .text a {
        font-size: .8rem;
    }

    .main-container .text {
        width: 100%;
        font-size: .7rem;
    }

    .main-container .tekno-img img {
        margin-right: 0em !important;
        width: 200px;
        height: auto;
    }

    .tekno-img::before {
        width: 190px;
        height: 190px;
    }

    /*Animasyon Kapatma*/
    .swiper {
        animation: none !important;
        -webkit-animation: none !important;
        opacity: 1 !important;
        transform: translateX(0) !important;
        -webkit-transform: translateX(0) !important;
    }

    .content h2 {
        animation: none !important;
        -webkit-animation: none !important;
        opacity: 1 !important;
        transform: translateX(0) !important;
        -webkit-transform: translateX(0) !important;
    }
}