    /*Global CSS*/

    /*Font Rubik*/
    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* ===========================================
           Renk Paleti Değişkenleri
           =========================================== */
    :root {
        /* Ana Arka Plan */
        --renk-bg-1: #004e92;
        --renk-bg-2: #000428;
        /* Metin Renkleri */
        --renk-metin-ana: #F5F5F5;
        --renk-metin-ikincil: #adb5bd;
        /* VURGU RENKLERİ */
        --renk-vurgu: #F48C06;
        --renk-vurgu-hover: #E85D04;
        /* Kart (Glassmorphism) Stilleri */
        --renk-kart-zemin: rgba(255, 255, 255, 0.1);
        --renk-kart-cizgi: rgba(255, 255, 255, 0.2);
        --kart-blur: blur(10px);
        /* Sistem Renkleri */
        --renk-hata: #FF6B6B;
        --renk-basari: #3DDC97;
        /* Standart Stiller */
        --radius-kart: 16px;
        --golge-kart: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    body {
        min-height: 100vh;
        background: url(/Project/assets/images/main/star.png),
            linear-gradient(to right, var(--renk-bg-1), var(--renk-bg-2));
        background-size: auto-fit, cover;
        background-attachment: fixed;
        color: whitesmoke;
        font-family: "Rubik", sans-serif;
        overflow-x: hidden;
    }

    /*Navbar*/

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 100%;
        position: sticky;
        top: 0;
        background: var(--renk-bg-1);
        border-bottom: 5px solid var(--renk-kart-cizgi);
        box-shadow: var(--golge-kart);
        z-index: 999;
    }

    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 2rem;
        max-width: 100em;
    }

    .navbar-logo {
        font-size: 2rem;
        font-weight: 600;
        color: var(--renk-metin-ana);
        text-decoration: none;
        cursor: pointer;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
    }

    .navbar-container .navbar-menu {
        display: flex;
        text-align: center;
        gap: 1.5rem;
        list-style: none;
    }

    .navbar-container .navbar-menu li a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        padding: 10px 20px;
        transition: all 0.7s ease;
        white-space: nowrap;
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;

    }

    .navbar-menu li a i {
        padding-right: .7em;
        color: #fff;
    }

    .navbar-container .navbar-menu li a:hover {
        transition: .2s ease-in-out;
        color: var(--renk-vurgu-hover);
    }

    .navbar-container a:hover {
        transition: .2s ease-in-out;
        color: var(--renk-vurgu-hover);
    }


    .navbar-toggle {
        display: none;
        background: transparent;
        padding: 10px;
        border: none;
        cursor: pointer;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background: #fff;
        transition: all 0.3s ease-in-out;
    }

    /* Başta sadece login/kayıt ol görünsün */
    .user-item {
        display: none;
        position: relative;
    }

    /* Dropdown menü gizli */
    .dropdown-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background: var(--renk-kart-zemin);
        border: 2px solid var(--renk-kart-cizgi);
        backdrop-filter: var(--kart-blur);
        border-radius: 10px;
        list-style: none;
        text-align: start;
        padding: 0 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        min-width: 200px;
        z-index: 1000;
        margin-top: 24px;
        animation: scale-up-hor-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    #dropdown .dropdown-toggle {
        background: transparent;
        border: none;
        color: white;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
    }

    #dropdown .dropdown-toggle i {
        padding-right: 20px;
    }

    #dropdown .dropdown-toggle:hover {
        transition: 0.2s ease-in-out;
        color: var(--renk-vurgu-hover);
    }

    .dropdown-menu-show {
        display: block;
    }

    .dropdown-menu li a {
        display: block;
        color: white;
        text-decoration: none;
        transition: ease-in-out 0.3s;
    }

    /* Giriş yapılınca görünürlük değişimi */
    body.logged-in .auth {
        display: none;
    }

    body.logged-in .user-item {
        display: block;
        text-align: start;
    }


    /*Footer Section*/


    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        height: 7em;
        background-color: var(--renk-bg-1);
        box-shadow: var(--golge-kart);
        color: #fff;
    }

    .contact .contact-btns {
        margin: 0.5em 0;
    }

    .contact .contact-btns a i {
        font-size: 1.8rem !important;
        color: #fff;
        margin: 0 0.2em;
        background-color: var(--renk-kart-zemin);
        border: 2px solid var(--renk-kart-cizgi);
        border-radius: 40%;
        padding: 10px 15px;
    }

    .contact .contact-btns a i:hover {
        color: var(--renk-vurgu-hover);
        transition: 0.2s ease-in-out;
    }


    .contact .contact-text h5 {
        font-size: 1rem;
        border-top: 2px solid var(--renk-kart-cizgi);
        padding: 0.5em 0;
    }

    .contact-text h5 a {
        color: var(--renk-vurgu-hover);
        text-decoration: none;
    }



    /*Responsive*/

    @media (max-width: 1100px) {
        .navbar {
            backdrop-filter: none;
        }

        .navbar-container .navbar-menu {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.7rem !important;
            position: absolute;
            height: 100vh;
            width: 250px;
            top: 0;
            right: 0;
            padding: 5rem 1.5rem;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
        }

        .navbar-container .navbar-menu.active {
            display: flex;
        }

        .navbar-container .navbar-logo {
            font-size: 1.8rem;
        }

        .navbar-toggle {
            display: block;
            z-index: 999;
        }

        .navbar-toggle.active .bar:nth-child(2) {
            opacity: 0;
        }

        .navbar-toggle.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(40deg);
        }

        .navbar-toggle.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-40deg);
        }

        /*Loggedin Dropdown*/
        .dropdown-menu {
            display: block;
            position: relative;
            top: 0;
            margin-top: 1em;
            gap: 2em !important;
        }

        #dropdown .dropdown-toggle {
            padding-left: 1.4em;
            border: 2px solid var(--Blue500);
            border-radius: 20px;
            padding: 10px 45px;
        }

        #dropdown .dropdown-toggle i {
            padding-right: 24px;
        }
    }

    /*animations*/

    @keyframes tracking-in-expand {
        0% {
            letter-spacing: -0.5em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes scale-up-hor-center {
        0% {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }

    @keyframes rotate {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }

    /*Animation Pulse*/

    @-webkit-keyframes pulsate-fwd {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes pulsate-fwd {
        0% {
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        50% {
            box-shadow: 0 0 50px rgba(255, 255, 255, 0.4);
            -webkit-transform: scale(1.1);
            transform: scale(1.05);
        }

        100% {
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    /**
 * ----------------------------------------
 * animation tilt-in-right-2
 * ----------------------------------------
 */
    @-webkit-keyframes tilt-in-right-2 {
        0% {
            -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
            transform: rotateX(30deg) translateX(300px) skewX(-30deg);
            opacity: 0;
        }

        100% {
            -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
            opacity: 1;
        }
    }

    @keyframes tilt-in-right-2 {
        0% {
            -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
            transform: rotateX(30deg) translateX(300px) skewX(-30deg);
            opacity: 0;
        }

        100% {
            -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
            opacity: 1;
        }
    }
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation flip-in-hor-top
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
            transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
            transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
