:root {
    --Blue600: rgb(30, 80, 180);
    --Navy950: rgb(10, 25, 60);
    --Navy900: rgb(28, 50, 120);
    --Blue500: rgb(100, 149, 237);
    --Navy200: rgb(173, 216, 230);
}


.help {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    border: 5px solid rgba(0, 255, 255, .2);
    border-radius: 5px;
    backdrop-filter: blur(50px);
    gap: 2em;
    margin: 3em 0;
}

.profile {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    border: 5px solid rgba(0, 255, 255, .2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


.card .profile img {
    max-width: 6em;
    height: auto;
    border-radius: 50%;
    border: 5px solid gray;
    margin: 0.4em;
}

.profile h3 {
    font: 800;
    font-size: 1.5rem;
    text-align: center;
    color: var(--renk-vurgu);
    border-bottom: 2px solid var(--renk-kart-cizgi);
    padding-bottom: 0.2em;
}

.profile button {
    background: transparent;
    cursor: pointer;
    color: #fafafa;
    padding: 5px 5px;
    border: 2px solid var(--renk-kart-cizgi);
    border-radius: 5px;
    width: 50%;
}

.btn-warning:hover{
    background-color: var(--renk-vurgu);
    transition: 0.3s ease;
    box-shadow: var(--golge-kart);
}


.btn-danger:hover{
    background-color: red;
    transition: 0.3s ease;
    box-shadow: var(--golge-kart);
}

.info {
    display: grid;
    grid-template-columns: 170px 200px;
    grid-template-rows: repeat(50px, 5);
    grid-template-areas:
        'box-0 box-0'
        'box-1 box-2'
        'box-3 box-4'
        'box-5 box-6'
        'box-7 box-7';
    gap: 0.5em;
    margin: 0.5em;
}

.info h3 {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--Blue600);
    text-align: center;
    border-bottom: 2px solid var(--renk-kart-cizgi);
    padding: 0.5em 0;
}

.info-card {
    padding: 10px 10px;
    border: 2px solid var(--renk-kart-cizgi);
    border-radius: 10px;
    text-align: center;
}

.info-card h4 {
    text-align: start;
}


.card-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    border: 2px solid var(--renk-kart-cizgi);
    border-radius: var(--radius-kart);
    backdrop-filter: var(--kart-blur);
    gap: 5em;
    margin: 3em 0;
}

.card-wrap h3 {
    font-size: 1.3rem;
    font-weight: 800;
}

.card-wrap .bildirim {
    text-align: center;
    width: 90%;
    height: 80%;
    border: 2px dashed var(--renk-kart-cizgi);
    margin-bottom: 5em;
}



@media (max-width:1100px) {
    .card {
        width: 80%;
        flex-direction: column;
    }

    .info {
        grid-template-columns: 100px 100px;
    }

    .profile {
        width: 80%;
        height: fit-content;
        margin: 0.5em 0;
    }
    .card-wrap{
        width: 80%;
    }
}